---
language: go
go:
  - "1.14.2"

matrix:
  include:

    - name: Testing Framework
      os: linux
      services: docker
      before_install:
        - go mod download
        - diff -u <(echo -n) <(gofmt -d $(find . -not -path "./vendor/*" -name "*.go"));
        - GO111MODULE=on go vet $(go list ./...);
        - docker run --rm -v $(pwd):/app -w /app golangci/golangci-lint:v1.25.1 golangci-lint run -v
      script:
        # Build
        - make build
        # Test
        - go test -v ./...

    - name: Custom configuration tests
      os: linux
      services: docker
      before_install:
        - go mod download
        - diff -u <(echo -n) <(gofmt -d $(find . -not -path "./vendor/*" -name "*.go"));
        - sed -i -e "s|COMMITTAG = \"\"|COMMITTAG = \"${TRAVIS_COMMIT}\"|g" service/library/version.go
        - GO111MODULE=on go vet $(go list ./...);
        - docker run --rm -v $(pwd):/app -w /app golangci/golangci-lint:v1.25.1 golangci-lint run -v

      script:

        # Build
        - ssh-keygen -t rsa -q -f "$HOME/.ssh/id_rsa" -N ""
        - go build -o pygmy-go-linux-x86

        # We need an example project to test against:
        - >
          ./pygmy-go-linux-x86 up;
          git clone https://github.com/amazeeio/node-example.git node && cd node;
          npm install;
          docker-compose -p node up -d;
          cd ../;
        - ./pygmy-go-linux-x86 clean;

        # Tests for cowsay integration example
        - >
          ./pygmy-go-linux-x86 --config examples/documentation-examples/pygmy.cowsay.yml up | grep '< holy ship >';
          curl --HEAD -k -L http://docker.amazee.io/stats | grep 'HTTP/1.1 200 OK';
          curl --HEAD -k -L http://mailhog.docker.amazee.io | grep 'HTTP/1.1 404 Not Found';
        - ./pygmy-go-linux-x86 --config examples/documentation-examples/pygmy.cowsay.yml clean;
        - docker system prune -a --force

        # Tests for custom image example
        - >
          ./pygmy-go-linux-x86 --config examples/documentation-examples/pygmy.custom-image.yml up;
          docker container inspect amazeeio-haproxy --format '{{ json . }}' | jq '.Config.Image' | grep 'fubarhouse/amazeeio-haproxy-8080';
          curl --HEAD -k -L http://docker.amazee.io:8080/stats | grep 'HTTP/1.1 200 OK';
          curl --HEAD -k -L http://mailhog.docker.amazee.io:8080 | grep 'HTTP/1.1 404 Not Found';
        - ./pygmy-go-linux-x86 --config examples/documentation-examples/pygmy.custom-image.yml clean;
        - docker system prune -a --force

        # Tests for https example
        - ./pygmy-go-linux-x86 --config examples/documentation-examples/pygmy.https.yml up;
        - curl --HEAD -k https://node.docker.amazee.io | grep 'HTTP/1.1 200 OK'
        - curl --HEAD -k https://node.docker.amazee.io | grep "X-LAGOON"
        - curl --HEAD -k -L https://mailhog.docker.amazee.io | grep 'HTTP/1.1 404 Not Found';
        - ./pygmy-go-linux-x86 --config examples/documentation-examples/pygmy.https.yml clean;
        - docker system prune -a --force

        # Tests for mailhog port example
        - >
          ./pygmy-go-linux-x86 --config examples/documentation-examples/pygmy.mailhog-port.yml up;
          docker container inspect amazeeio-mailhog --format '{{ json . }}' | jq '.HostConfig.PortBindings' | grep 1025;
          docker container inspect amazeeio-mailhog --format '{{ json . }}' | jq '.HostConfig.PortBindings[]' | grep 2025;
        - ./pygmy-go-linux-x86 --config examples/documentation-examples/pygmy.mailhog-port.yml clean;
        - docker system prune -a --force

        # Tests for phpmyadmin example
        - >
          ./pygmy-go-linux-x86 --config examples/documentation-examples/pygmy.phpmyadmin.yml up;
          curl --HEAD http://docker.amazee.io/stats | grep 'HTTP/1.1 200 OK';
          curl --HEAD http://phpmyadmin.docker.amazee.io | grep 'HTTP/1.1 200 OK';
          curl --HEAD http://mailhog.docker.amazee.io | grep 'HTTP/1.1 404 Not Found';
        - ./pygmy-go-linux-x86 --config examples/documentation-examples/pygmy.phpmyadmin.yml clean;
        - docker system prune -a --force

        # Tests for portainer example
        - >
         ./pygmy-go-linux-x86 --config examples/documentation-examples/pygmy.portainer.yml up;
          curl --HEAD http://docker.amazee.io/stats | grep 'HTTP/1.1 200 OK';
          curl --HEAD http://portainer.docker.amazee.io | grep 'HTTP/1.1 200 OK';
          curl --HEAD http://mailhog.docker.amazee.io | grep 'HTTP/1.1 404 Not Found';
        - ./pygmy-go-linux-x86 --config examples/documentation-examples/pygmy.portainer.yml clean;
        - docker system prune -a --force

        # Tests for ssh agent example
        - >
          ./pygmy-go-linux-x86 --config examples/documentation-examples/pygmy.ssh-agent.yml up;
          docker container exec -it unofficial-ssh-agent ssh-add -l;
          docker container inspect unofficial-ssh-agent --format '{{ json . }}' | jq '.Config.Image' | grep 'nardeas/ssh-agent';
        - ./pygmy-go-linux-x86 --config examples/documentation-examples/pygmy.ssh-agent.yml clean;
        - docker system prune -a --force

        # Tests for total conversion example
        - >
          ./pygmy-go-linux-x86 --config examples/documentation-examples/pygmy.total-conversion.yml up;
          curl --HEAD http://mailhog.docker.amazee.io | grep 'HTTP/1.1 404 Not Found';
          curl --HEAD http://portainer.docker.amazee.io | grep 'HTTP/1.1 200 OK';
          curl --HEAD http://traefik.docker.amazee.io | grep 'HTTP/1.1 405 Method Not Allowed';
          curl --HEAD http://phpmyadmin.docker.amazee.io | grep 'HTTP/1.1 200 OK';
        - ./pygmy-go-linux-x86 --config examples/documentation-examples/pygmy.total-conversion.yml clean;
        - docker system prune -a --force

        # Tests for traefik v1 example
        - >
          ./pygmy-go-linux-x86 --config examples/documentation-examples/pygmy.traefik1.yml up;
          curl --HEAD http://mailhog.docker.amazee.io | grep 'HTTP/1.1 404 Not Found';
          curl --HEAD http://traefik.docker.amazee.io | grep 'HTTP/1.1 404 Not Found';
        - ./pygmy-go-linux-x86 --config examples/documentation-examples/pygmy.traefik1.yml clean;
        - docker system prune -a --force

        # Tests for traefik v2 example
        - >
          ./pygmy-go-linux-x86 --config examples/documentation-examples/pygmy.traefik2.yml up;
          curl --HEAD http://mailhog.docker.amazee.io | grep 'HTTP/1.1 404 Not Found';
          curl --HEAD http://traefik.docker.amazee.io | grep 'HTTP/1.1 405 Method Not Allowed';
        - ./pygmy-go-linux-x86 --config examples/documentation-examples/pygmy.traefik2.yml clean;
        - docker system prune -a --force

        # Kill example project.
        - cd node
        - docker-compose -p node down
        - docker-compose -p node rm
        - cd ../
        - docker system prune -a --force

    - name: Linux build w/ tests
      os: linux
      services: docker
      before_install:
        # Establish some SSH keys.
        - eval $(ssh-agent)
        - ssh-keygen -t rsa -q -f "$HOME/.ssh/id_rsa" -N ""
        - ssh-add
        - ssh-add -l
        # Git config
        - git config --global url."https://github.com/".insteadOf "git@github.com:"
        # Build pygmy
        - go mod download
        # Statis analysis tests of pygmy
        - diff -u <(echo -n) <(gofmt -d $(find . -not -path "./vendor/*" -name "*.go"));
        - GO111MODULE=on go vet $(go list ./...);
        - docker run --rm -v $(pwd):/app -w /app golangci/golangci-lint:v1.25.1 golangci-lint run -v
        # Install Lando
        - wget https://files.devwithlando.io/lando-stable.deb
        - sudo dpkg -i lando-stable.deb
      script:

        # Build
        - go build -o pygmy-go-linux-x86

        # Run pygmy
        - ./pygmy-go-linux-x86 pull;
        - ./pygmy-go-linux-x86 pull;
        - ./pygmy-go-linux-x86 status;
        - ./pygmy-go-linux-x86 --config examples/pygmy.travis.yml up;
        - ./pygmy-go-linux-x86 --config examples/pygmy.travis.yml status;
        - ./pygmy-go-linux-x86 --config examples/pygmy.travis.yml version;

        # Test the amazeeio-network for expected results
        - >
          docker network inspect amazeeio-network | jq '.[].Name' | grep "amazeeio-network";
          docker network inspect amazeeio-network | jq '.[].Containers' | jq '.[].Name' | grep "amazeeio-haproxy";
          docker network inspect amazeeio-network | jq '.[].Containers' | jq '.[].Name' | grep "amazeeio-mailhog";
          docker network inspect amazeeio-network | jq '.[].Containers' | jq '.[].Name' | grep "amazeeio-portainer";
          docker network inspect amazeeio-network | jq '.[].Containers' | jq '.[].IPv4Address';
          docker network inspect amazeeio-network | jq '.[].Containers' | jq '.[].IPv4Address' | grep "10.99.99.";

        # Test for configured container tags.
        - >
          docker inspect amazeeio-dnsmasq   | jq '.[].Config.Labels["pygmy.hocuspocus"]'  | grep "42";
          docker inspect amazeeio-dnsmasq   | jq '.[].Config.Labels["pygmy.abracadabra"]' | grep "1";
          docker inspect amazeeio-dnsmasq   | jq '.[].Config.Labels["pygmy.opensesame"]'  | grep "correct";
        - >
          docker inspect amazeeio-haproxy   | jq '.[].Config.Labels["pygmy.hocuspocus"]'  | grep "42";
          docker inspect amazeeio-haproxy   | jq '.[].Config.Labels["pygmy.abracadabra"]' | grep "1";
          docker inspect amazeeio-haproxy   | jq '.[].Config.Labels["pygmy.opensesame"]'  | grep "correct";
        - >
          docker inspect amazeeio-portainer | jq '.[].Config.Labels["pygmy.hocuspocus"]'  | grep "42";
          docker inspect amazeeio-portainer | jq '.[].Config.Labels["pygmy.abracadabra"]' | grep "1";
          docker inspect amazeeio-portainer | jq '.[].Config.Labels["pygmy.opensesame"]'  | grep "correct";
        - >
          docker inspect amazeeio-ssh-agent | jq '.[].Config.Labels["pygmy.hocuspocus"]'  | grep "42";
          docker inspect amazeeio-ssh-agent | jq '.[].Config.Labels["pygmy.abracadabra"]' | grep "1";
          docker inspect amazeeio-ssh-agent | jq '.[].Config.Labels["pygmy.opensesame"]'  | grep "correct";
        - >
          docker inspect amazeeio-mailhog   | jq '.[].Config.Labels["pygmy.hocuspocus"]'  | grep "42";
          docker inspect amazeeio-mailhog   | jq '.[].Config.Labels["pygmy.abracadabra"]' | grep "1";
          docker inspect amazeeio-mailhog   | jq '.[].Config.Labels["pygmy.opensesame"]'  | grep "correct";

        # Clone the official examples:
        - git clone --recurse-submodules https://github.com/uselagoon/lagoon-examples.git
        - git clone -b 9.x https://github.com/amazeeio/drupal-example-simple.git lagoon-examples/drupal9-lagoon-simple-lando

        # Drupal 8 Simple:
        - cd lagoon-examples/drupal8-simple
        - docker-compose -p drupal8-example-simple up -d
        - docker-compose -p drupal8-example-simple exec cli composer install
        - sleep 5
        - curl --HEAD http://drupal8-example-simple.docker.amazee.io
        - curl --HEAD http://drupal8-example-simple.docker.amazee.io | grep "X-LAGOON"
        - docker-compose -p drupal8-example-simple down
        - docker-compose -p drupal8-example-simple rm
        - cd ../../

        # Drupal 9 Advanced:
        - cd lagoon-examples/drupal9-advanced
        - docker-compose -p drupal9-advanced up -d
        - docker-compose -p drupal9-advanced exec cli composer install
        - sleep 5
        - curl --HEAD http://drupal9-example-simple.docker.amazee.io
        - curl --HEAD http://drupal9-example-simple.docker.amazee.io | grep "X-LAGOON"
        - docker-compose -p drupal9-advanced down
        - docker-compose -p drupal9-advanced rm
        - cd ../../

        # Drupal 9 Simple:
        - cd lagoon-examples/drupal9-simple
        - docker-compose -p drupal-example-simple up -d
        - docker-compose -p drupal-example-simple exec cli composer install
        - sleep 5
        - curl --HEAD http://drupal9-example-simple.docker.amazee.io
        - curl --HEAD http://drupal9-example-simple.docker.amazee.io | grep "X-LAGOON"
        - docker-compose -p drupal-example-simple down
        - docker-compose -p drupal-example-simple rm
        - cd ../../

        # Node:
        - cd lagoon-examples/node-example
        - npm install
        - docker-compose -p node up -d
        - curl --HEAD http://node.docker.amazee.io
        - curl --HEAD http://node.docker.amazee.io | grep "X-LAGOON"
        - docker-compose -p node down
        - docker-compose -p node rm
        - cd ../../

        # Silverstripe Advanced
        - cd lagoon-examples/silverstripe-advanced
        - docker-compose -p silverstripe-advanced up -d
        - docker-compose -p silverstripe-advanced exec cli composer install
        - sleep 5
        - curl --HEAD http://ss.docker.amazee.io
        # Temporarily, we will omit the failure for the X-LAGOON header.
        - curl --HEAD http://ss.docker.amazee.io | grep "X-LAGOON" || true
        - docker-compose -p silverstripe-advanced down
        - docker-compose -p silverstripe-advanced rm
        - cd ../../

        # Silverstripe Simple
        - cd lagoon-examples/silverstripe-simple
        - docker-compose -p silverstripe-simple up -d
        - docker-compose -p silverstripe-simple exec cli composer install
        - sleep 5
        - curl --HEAD http://ss.docker.amazee.io
        - curl --HEAD http://ss.docker.amazee.io | grep "X-LAGOON"
        - docker-compose -p silverstripe-simple down
        - docker-compose -p silverstripe-simple rm
        - cd ../../

        # Wordpress Simple:
        - cd lagoon-examples/wordpress-simple
        - docker-compose -p wordpress-simple up -d
        - docker-compose -p wordpress-simple exec cli composer install
        - sleep 5
        - curl --HEAD http://wordpress-nginx.docker.amazee.io
        - curl --HEAD http://wordpress-nginx.docker.amazee.io | grep "X-LAGOON"
        - docker-compose -p wordpress-simple down
        - docker-compose -p wordpress-simple rm
        - cd ../../

        # Lando test - running Pygmy along-side Lando:
        - cd lagoon-examples/drupal9-lagoon-simple-lando
        - lando start || true
        - sleep 5
        - curl --HEAD http://drupal9-example-simple-lando.lndo.site:8000
        - curl --HEAD http://drupal9-example-simple-lando.lndo.site:8000 | grep "X-Lagoon"
        - lando destroy -y
        - cd ../../

        # Cleanup after tests.
        - docker system prune --all --force

        # Cowsay test
        - ./pygmy-go-linux-x86 --config examples/pygmy.travis.yml down;
        - ./pygmy-go-linux-x86 --config examples/pygmy.travis.yml up | grep '< holy ship >';

        # Cleanup pygmy
        - ./pygmy-go-linux-x86 --config examples/pygmy.travis.yml down;
        - ./pygmy-go-linux-x86 --config examples/pygmy.travis.yml clean;

    - name: Windows build
      os: windows
      services: docker
      before_install:
        - go mod download
        - GO111MODULE=on go vet $(go list ./...);

      script:
        - export PYGMY_PATH=pygmy-go.exe;

        - go mod vendor
        - rm -f go.mod
        - rm -f go.sum
        - go build -o pygmy-go.exe .
        - cp pygmy-go.exe builds/pygmy-go.exe

        - builds/${PYGMY_PATH} --config examples/pygmy.travis.yml status;
        - builds/${PYGMY_PATH} --config examples/pygmy.travis.yml version;

notifications:
  slack: fubarhouse:upHoIzmKb4ikkBOt2cOwgKXY