name: goreleaser

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    branches:
      - main

jobs:
  goreleaser:
    runs-on: ubuntu-22.04
    env:
      GO111MODULE: on
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: System dependencies
        run: sudo apt update && sudo apt install git golang -y || true
      -
        name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.17
      -
        name: Create version helper
        run: |
          cat > service/library/version_state.go << EOF
          package library
          import (
            "fmt"
            "strings"
          )
          var PYGMY_VERSION = "${GITHUB_REF}"
          func printversion() bool {
          parts := strings.Split(PYGMY_VERSION, "/")
          	if PYGMY_VERSION == "" {
          	  return false
          	}
          	fmt.Printf("Pygmy version v%v\n", parts[len(parts)-1])
          	return true
          }
          EOF
      -
        name: Fetch Dependencies
        run: go mod download
      -
        name: Print version string
        run: go run main.go version
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: latest
          args: release --debug --skip-validate
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}