name: pygmy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - created
  schedule:
    - cron: "0 0 * * *"

jobs:
  basic:
    runs-on: ubuntu-18.04
    env:
      GO111MODULE: on
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          stable: 'false'
          go-version: '1.16'
      - name: Install
        run: go mod download
        env:
          GO111MODULE: on
      - name: Diff
        run: diff -u <(echo -n) <(gofmt -d $(find . -not -path "./vendor/*" -name "*.go"));
      - name: Vet
        run: go vet $(go list ./...);
      - name: Lint
        run: docker run --rm -v $(pwd):/app -w /app golangci/golangci-lint:v1.25.1 golangci-lint run -v
      - name: Build
        run: make build
      - name: Test
        run: go test -v ./...

#  windows:
#    runs-on: windows-2019
#    steps:
#      - uses: actions/checkout@v2
#      - uses: actions/setup-go@v2
#        with:
#          stable: 'false'
#          go-version: '1.16'
#      - name: Switch Docker daemon mode to Linux
#        run: Start-Process $Env:ProgramFiles\Docker\Docker\DockerCli.exe -ArgumentList "-SwitchLinuxEngine"
#      - name: Build
#        run: docker build -t pygmy.
#      - name: Run status command
#        run: builds/${PYGMY_PATH} --config examples/pygmy.basic.yml status;
#      - name: Run version command
#        run: builds/${PYGMY_PATH} --config examples/pygmy.basic.yml version;

  full:
    runs-on: ubuntu-18.04
    env:
      GO111MODULE: on
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          stable: 'false'
          go-version: '1.16'
        # Establish some SSH keys.
      - name: Setup SSH
        run: |
          eval $(ssh-agent);
          ssh-keygen -t rsa -q -f "$HOME/.ssh/id_rsa" -N "";
          ssh-keygen -t rsa -q -f "$HOME/.ssh/id_pwd" -N "passphrase";
          ssh-add;
          ssh-add -l;
      - name: Setup git
        run: git config --global url."https://github.com/".insteadOf "git@github.com:";
      - name: Install
        run: go mod download
        env:
          GO111MODULE: on
      - name: Install Lando
        run: |
          wget https://files.devwithlando.io/lando-stable.deb;
          sudo dpkg -i --ignore-depends=docker-ce lando-stable.deb;

      - name: Compile
        run: go build -o pygmy-linux-amd64

      - name: Basic test
        run: |
          ./pygmy-linux-amd64 pull;
          ./pygmy-linux-amd64 pull;
          ./pygmy-linux-amd64 status;
          ./pygmy-linux-amd64 --config examples/pygmy.basic.yml up;
          ./pygmy-linux-amd64 --config examples/pygmy.basic.yml status;
          ./pygmy-linux-amd64 --config examples/pygmy.basic.yml version;

      - name: Show pygmy image versions
        run: |
          docker ps -a --filter "label=pygmy.name"

      - name: Export configuration
        run: ./pygmy-linux-amd64 export -o ./exported-config.yml

      - name: Show configuration
        run: cat ./exported-config.yml

#      - name: SSH Key test
#        run: |
#          ./pygmy-linux-amd64 addkey /home/runner/.ssh/id_rsa.pub;
#          ./pygmy-linux-amd64 status;
#          ./pygmy-linux-amd64 status | grep 'id_rsa';
#          docker run --rm -i --volumes-from amazeeio-ssh-agent uselagoon/php-7.4-cli /usr/bin/ssh-add -l | grep 'id_rsa';

      - name: Resolv file test
        run: |
          stat /usr/lib/systemd/resolved.conf.d/docker.amazee.io.conf;
          grep "127.0.0.1" /usr/lib/systemd/resolved.conf.d/docker.amazee.io.conf;
          grep "docker.amazee.io" /usr/lib/systemd/resolved.conf.d/docker.amazee.io.conf;

      - name: Test the amazeeio-network for expected results
        run: |
          docker network inspect amazeeio-network | jq '.[].Name' | grep "amazeeio-network";
          docker network inspect amazeeio-network | jq '.[].Containers' | jq '.[].Name' | grep "amazeeio-haproxy";
          docker network inspect amazeeio-network | jq '.[].Containers' | jq '.[].Name' | grep "amazeeio-mailhog";
          docker network inspect amazeeio-network | jq '.[].Containers' | jq '.[].Name' | grep "amazeeio-portainer";
          docker network inspect amazeeio-network | jq '.[].Containers' | jq '.[].IPv4Address';
          docker network inspect amazeeio-network | jq '.[].Containers' | jq '.[].IPv4Address' | grep "10.99.99.";

      - name: Test for configured container tags.
        run: |
          docker inspect amazeeio-dnsmasq   | jq '.[].Config.Labels["pygmy.hocuspocus"]'  | grep "42";
          docker inspect amazeeio-dnsmasq   | jq '.[].Config.Labels["pygmy.abracadabra"]' | grep "1";
          docker inspect amazeeio-dnsmasq   | jq '.[].Config.Labels["pygmy.opensesame"]'  | grep "correct";
          docker inspect amazeeio-haproxy   | jq '.[].Config.Labels["pygmy.hocuspocus"]'  | grep "42";
          docker inspect amazeeio-haproxy   | jq '.[].Config.Labels["pygmy.abracadabra"]' | grep "1";
          docker inspect amazeeio-haproxy   | jq '.[].Config.Labels["pygmy.opensesame"]'  | grep "correct";
          docker inspect amazeeio-portainer | jq '.[].Config.Labels["pygmy.hocuspocus"]'  | grep "42";
          docker inspect amazeeio-portainer | jq '.[].Config.Labels["pygmy.abracadabra"]' | grep "1";
          docker inspect amazeeio-portainer | jq '.[].Config.Labels["pygmy.opensesame"]'  | grep "correct";
          docker inspect amazeeio-ssh-agent | jq '.[].Config.Labels["pygmy.hocuspocus"]'  | grep "42";
          docker inspect amazeeio-ssh-agent | jq '.[].Config.Labels["pygmy.abracadabra"]' | grep "1";
          docker inspect amazeeio-ssh-agent | jq '.[].Config.Labels["pygmy.opensesame"]'  | grep "correct";
          docker inspect amazeeio-mailhog   | jq '.[].Config.Labels["pygmy.hocuspocus"]'  | grep "42";
          docker inspect amazeeio-mailhog   | jq '.[].Config.Labels["pygmy.abracadabra"]' | grep "1";
          docker inspect amazeeio-mailhog   | jq '.[].Config.Labels["pygmy.opensesame"]'  | grep "correct";

      - name: Clone the official examples
        run: |
          git clone --recurse-submodules https://github.com/uselagoon/lagoon-examples.git

      - name: Drupal 9 Full
        run: |
          cd lagoon-examples/drupal9-full;
          docker-compose -p drupal9-full up -d;
          docker-compose -p drupal9-full exec -T cli composer install;
          sleep 5;
          curl --HEAD http://drupal9-full.docker.amazee.io;
          curl --HEAD http://drupal9-full.docker.amazee.io | grep "X-LAGOON";
          ../../pygmy-linux-amd64 --config ../../examples/pygmy.basic.yml status | grep '\- http://drupal9-full.docker.amazee.io';
          docker-compose -p drupal9-full down;
          docker-compose -p drupal9-full rm;
          cd ../../;

      - name: Drupal 9 Base
        run: |
          cd lagoon-examples/drupal9-base;
          docker-compose -p drupal-base up -d;
          docker-compose -p drupal-base exec -T cli composer install;
          sleep 5;
          curl --HEAD http://drupal9-base.docker.amazee.io;
          curl --HEAD http://drupal9-base.docker.amazee.io | grep "X-LAGOON";
          ../../pygmy-linux-amd64 --config ../../examples/pygmy.basic.yml status | grep '\- http://drupal9-base.docker.amazee.io';
          docker-compose -p drupal-base down;
          docker-compose -p drupal-base rm;
          cd ../../;

      - name: Drupal 9 Postgres
        run: |
          cd lagoon-examples/drupal9-postgres;
          docker-compose -p drupal-postgres up -d;
          docker-compose -p drupal-postgres exec -T cli composer install;
          sleep 5;
          curl --HEAD http://drupal9-postgres.docker.amazee.io;
          curl --HEAD http://drupal9-postgres.docker.amazee.io | grep "X-LAGOON";
          ../../pygmy-linux-amd64 --config ../../examples/pygmy.basic.yml status | grep '\- http://drupal9-postgres.docker.amazee.io';
          docker-compose -p drupal-postgres down;
          docker-compose -p drupal-postgres rm;
          cd ../../;

      - name: Node
        run: |
          cd lagoon-examples/node-example;
          npm install;
          docker-compose -p node up -d;
          curl --HEAD http://node.docker.amazee.io;
          curl --HEAD http://node.docker.amazee.io | grep "X-LAGOON";
          ../../pygmy-linux-amd64 --config ../../examples/pygmy.basic.yml status | grep '\- http://node.docker.amazee.io';
          docker-compose -p node down;
          docker-compose -p node rm;
          cd ../../;

      - name: Silverstripe Advanced
        run: |
          cd lagoon-examples/silverstripe-advanced;
          docker-compose -p silverstripe-advanced up -d;
          docker-compose -p silverstripe-advanced exec -T cli composer install;
          sleep 5;
          curl --HEAD http://ss.docker.amazee.io;
          # Temporarily, we will omit the failure for the X-LAGOON header.;
          curl --HEAD http://ss.docker.amazee.io | grep "X-LAGOON" || true;
          docker-compose -p silverstripe-advanced down;
          docker-compose -p silverstripe-advanced rm;
          cd ../../;

      - name: Silverstripe Simple
        run: |
          cd lagoon-examples/silverstripe-simple;
          docker-compose -p silverstripe-simple up -d;
          docker-compose -p silverstripe-simple exec -T cli composer install;
          sleep 5;
          curl --HEAD http://ss.docker.amazee.io;
          curl --HEAD http://ss.docker.amazee.io | grep "X-LAGOON";
          docker-compose -p silverstripe-simple down;
          docker-compose -p silverstripe-simple rm;
          cd ../../;

      - name: Wordpress Simple
        run: |
          cd lagoon-examples/wordpress-simple;
          docker-compose -p wordpress-simple up -d;
          docker-compose -p wordpress-simple exec -T cli composer install;
          sleep 5;
          curl --HEAD http://wordpress-example-simple.docker.amazee.io;
          curl --HEAD http://wordpress-example-simple.docker.amazee.io | grep "X-LAGOON";
          ../../pygmy-linux-amd64 --config ../../examples/pygmy.basic.yml status | grep '\- http://wordpress-example-simple.docker.amazee.io';
          docker-compose -p wordpress-simple down;
          docker-compose -p wordpress-simple rm;
          cd ../../;

      - name: Lando test - running Pygmy along-side Lando
        run: |
          cd lagoon-examples/drupal9-base;
          lando start || true;
          sleep 5;
          curl --HEAD http://drupal9-base.lndo.site:8000;
          curl --HEAD http://drupal9-base.lndo.site:8000 | grep "X-Lagoon";
          lando destroy -y;
          cd ../../;

      - name: Test the stop command
        run: |
          ./pygmy-linux-amd64 --config examples/pygmy.basic.yml down | grep 'Successfully removed amazeeio';
          ./pygmy-linux-amd64 --config examples/pygmy.basic.yml status | grep '\[ \] amazeeio-' | grep 'is not running';
          ./pygmy-linux-amd64 --config examples/pygmy.basic.yml status | grep 'Running as container amazeeio-' && false || true;
          ./pygmy-linux-amd64 --config examples/pygmy.basic.yml up;
          ./pygmy-linux-amd64 --config examples/pygmy.basic.yml status | grep 'Running as container amazeeio-' && true || false;

      - name: Test the down command
        run: |
          ./pygmy-linux-amd64 --config examples/pygmy.basic.yml down | grep 'Successfully stopped amazeeio';
          ./pygmy-linux-amd64 --config examples/pygmy.basic.yml status | grep '\[ \] amazeeio-' | grep 'is not running';
          ./pygmy-linux-amd64 --config examples/pygmy.basic.yml status | grep 'Running as container amazeeio-' && false || true;
          ./pygmy-linux-amd64 --config examples/pygmy.basic.yml up;
          ./pygmy-linux-amd64 --config examples/pygmy.basic.yml status | grep 'Running as container amazeeio-' && true || false;

      - name: Cowsay test
        run: ./pygmy-linux-amd64 --config examples/pygmy.basic.yml up | grep 'holy ship' || true;

      - name: Cleanup pygmy
        run: ./pygmy-linux-amd64 clean;

      - name: Cleanup after tests.
        run: | 
          docker system prune --all --force
          docker volume prune --force
